nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.class
nbproject/private/private.xml
*.class
build/classes/hojadetrabajo2/ImplementacionStack.class
build/classes/hojadetrabajo2/ImplementacionStack.class
*.xml
*.properties
